.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #fff;
  border-radius: 16px;
  padding: 40px 30px;
  width: 450px;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.modal h2 {
  text-align: center;
  color: #28a745;
  font-size: 26px;
  margin: 0 0 50px 0;
}

.modal label {
  font-size: 14px;
  color: #333;
}

.modal input {
  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.modal input:focus {
  border-color: #28a745;
}

.button {
  width: 100% !important;
  height: 55px !important;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #28a745 !important;
  color: white !important;
  cursor: pointer;
}

.modal p {
  color: red;
  font-size: 14px;
  margin: 0;
}
.otpContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.otpInput {
  width: 50px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.otpInput:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
