* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan", sans-serif;
}
@font-face {
  font-family: "Yekan";
  src: url("/fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
