.inputLoc {
  display: flex;
  flex-direction: row;
  margin-right: 55px;
  gap: 15px;
  position: relative;
  margin-top: 30px;
  width: 75%;
}
.icon {
  position: absolute;
  right: 11%;
  top: 35%;
  font-size: 14px;
}
.inputLoc button {
  width: 44%;
  height: 45px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255) !important;
}
.icon2 {
  position: absolute;
  right: 65%;
  font-size: 14px;
  top: 35%;
}
@media (min-width: 740px) {
  .inputLoc {
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 0;
    gap: 0;
  }

  .inputLoc button {
    width: 100%;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
    outline: none;
    font-size: 17px;
  }

  .icon {
    right: 10px;
  }

  .icon2 {
    right: 55%;
  }
}
