.container {
  width: 95%;
  height: 200px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 20px;
}
.boxLeft {
  background-color: rgba(40, 167, 69, 1);
  width: 80%;
  border-radius: 10px;
  display: flex;
  gap: 400px;
  white-space: nowrap;
}
.title {
  font-size: 30px;
}
.p {
  font-size: 20px;
}
.boxRight {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.boxRight h3 {
  font-size: 19px;
  font-weight: 800;
}
.Button {
  border: none;
  background-color: #10411b;
  color: #ffffff;
  width: 150px;
  height: 25px;
  cursor: pointer;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 15px;
  }
  .boxLeft {
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    gap: 10px;
  }
  .boxRight {
    flex-direction: row;
    padding: 15px;
    gap: 20px;
  }
  .Button {
    font-size: 15px;
    height: 30px;
  }
  .boxRight h3 {
    font-size: 25px;
  }
  .title {
    font-size: 20px;
    /* padding-bottom: 25px; */
  }
  .p {
    font-size: 17px;
  }
  .img {
    width: 150px;
    height: 100%;
  }
}
