.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  min-height: 100vh;
  
}

.right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.right h1 {
  margin: 0;
}
.button {
  width: 310px;
  height: 68px;
  border-radius: 12px;
  background-color: #d8ffe1;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button h1 {
  color: #28a745;
  font-size: 23px;
}
