.container {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
  font-weight: 600;
}
.span {
  color: #28a745;
}

@media (min-width: 740px) {
  .title {
    font-size: 18px;
  }
}
