.container {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 40px;
}

.container img {
  width: 400px;
  border-radius: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.details p {
  font-weight: 100;
  font-size: 14px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}
.price h3 {
  color: #009eca;
  font-size: 25px;
}
.reserve {
  background-color: #28a745;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 170px;
}
